anyio==3.4.0
asgiref==3.4.1
blis==0.4.1
catalogue==2.0.6
certifi==2021.5.30
charset-normalizer==2.0.9
click==8.0.3
contextlib2==21.6.0
contextvars==2.4
cycler==0.11.0
cymem==1.31.2
cytoolz==0.8.2
dataclasses==0.8
decorator==4.4.2
dill==0.2.9
en-core-web-sm==1.2.0
fastapi==0.70.1
filelock==3.4.0
ftfy==4.4.3
h11==0.12.0
html5lib==1.1
httptools==0.3.0
idna==3.3
immutables==0.16
importlib-metadata==4.8.2
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.1
langcodes==3.3.0
lxml==4.7.1
MarkupSafe==2.0.1
matplotlib==3.3.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
murmurhash==0.26.4
networkx==2.5.1
nltk==3.4.5
numpy==1.19.5
olefile==0.46
packaging==21.3
pathlib==1.0.1
pathy==0.6.1
Pillow==8.3.1
plac==0.9.6
preshed==1.0.1
pydantic==1.8.2
pyparsing==3.0.6
python-dateutil==2.8.2
python-dotenv==0.19.2
PyYAML==6.0
regex==2017.11.9
requests==2.26.0
sacremoses==0.0.46
scipy==1.5.4
sentencepiece==0.1.96
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
spacy==1.9.0
spicy==0.16.0
srsly==1.0.5
starlette==0.16.0
termcolor==1.1.0
thinc==6.5.2
tokenizers==0.8.1rc1
toolz==0.11.2
torch==1.7.1
torchaudio==0.7.0a0+a853dff
torchvision==0.8.2
tqdm==4.62.3
transformers==3.0.2
typer==0.4.0
typing-extensions==3.10.0.2
ujson==4.3.0
urllib3==1.26.7
uvicorn==0.16.0
uvloop==0.14.0
wasabi==0.9.0
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websockets==9.1
wrapt==1.13.3
zipp==3.6.0
